@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// change font to PT Sans
$govuk-font-family: 'PT Sans', "sans-serif";

// GovUK frontend
@import "node_modules/govuk-frontend/govuk/base";

@import "node_modules/govuk-frontend/govuk/core/global-styles";
@import "node_modules/govuk-frontend/govuk/core/template";
@import "node_modules/govuk-frontend/govuk/objects/grid";
@import "node_modules/govuk-frontend/govuk/objects/main-wrapper";
@import "node_modules/govuk-frontend/govuk/objects/width-container";
@import "node_modules/govuk-frontend/govuk/components/footer/index";
@import "node_modules/govuk-frontend/govuk/components/header/index";
@import "node_modules/govuk-frontend/govuk/components/skip-link/index";
@import "node_modules/govuk-frontend/govuk/utilities/all";
@import "node_modules/govuk-frontend/govuk/overrides/all";


@import "dt-colours";
@import "loader";
@import "charts";

$base_root : '/technology-diversity-statistics/assets/';

.govuk-header__container {
    margin-bottom: 0;
    border-bottom: none;
}
.govuk-footer__copyright-logo {
    background-image: url(#{$base_root}images/govuk-crest.png);
}

#global-header .header-wrapper .header-global .header-content {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    width: 75%;
}

.column {
    float: left;
    width: 50%;
}

@media screen and (max-width: 960px) {
    .column {
        float: none;
        width: 100%;
    }
}

