@use "sass:color";

$mojdi_colour_white: #ffffff;

$mojdi_colour_blue: rgb(32, 2, 78);
$mojdi_colour_blue_80: color.scale($mojdi_colour_blue, $alpha: -20%);
$mojdi_colour_blue_60: color.scale($mojdi_colour_blue, $alpha: -40%);
$mojdi_colour_blue_40: color.scale($mojdi_colour_blue, $alpha: -60%);
$mojdi_colour_blue_20: color.scale($mojdi_colour_blue, $alpha: -80%);

$mojdi_colour_apple: rgb(233, 47, 55);
$mojdi_colour_apple_80: color.scale($mojdi_colour_apple, $alpha: -20%);
$mojdi_colour_apple_60: color.scale($mojdi_colour_apple, $alpha: -40%);
$mojdi_colour_apple_40: color.scale($mojdi_colour_apple, $alpha: -60%);
$mojdi_colour_apple_20: color.scale($mojdi_colour_apple, $alpha: -80%);

$mojdi_colour_magenta: rgb(219, 8, 105);
$mojdi_colour_magenta_80: color.scale($mojdi_colour_magenta, $alpha: -20%);
$mojdi_colour_magenta_60: color.scale($mojdi_colour_magenta, $alpha: -40%);
$mojdi_colour_magenta_40: color.scale($mojdi_colour_magenta, $alpha: -60%);
$mojdi_colour_magenta_20: color.scale($mojdi_colour_magenta, $alpha: -80%);

$mojdi_colour_jade: rgb(0, 138, 119);
$mojdi_colour_jade_80: color.scale($mojdi_colour_jade, $alpha: -20%);
$mojdi_colour_jade_60: color.scale($mojdi_colour_jade, $alpha: -40%);
$mojdi_colour_jade_40: color.scale($mojdi_colour_jade, $alpha: -60%);
$mojdi_colour_jade_20: color.scale($mojdi_colour_jade, $alpha: -80%);

$mojdi_colour_teal: rgb(0, 130, 162);
$mojdi_colour_teal_80: color.scale($mojdi_colour_teal, $alpha: -20%);
$mojdi_colour_teal_60: color.scale($mojdi_colour_teal, $alpha: -40%);
$mojdi_colour_teal_40: color.scale($mojdi_colour_teal, $alpha: -60%);
$mojdi_colour_teal_20: color.scale($mojdi_colour_teal, $alpha: -80%);

$mojdi_colour_cobalt: rgb(0, 107, 204);
$mojdi_colour_cobalt_80: color.scale($mojdi_colour_cobalt, $alpha: -20%);
$mojdi_colour_cobalt_60: color.scale($mojdi_colour_cobalt, $alpha: -40%);
$mojdi_colour_cobalt_40: color.scale($mojdi_colour_cobalt, $alpha: -60%);
$mojdi_colour_cobalt_20: color.scale($mojdi_colour_cobalt, $alpha: -80%);

$mojdi_colour_grey: rgb(190, 190, 190);
$mojdi_colour_grey_80: color.scale($mojdi_colour_grey, $alpha: -20%);
$mojdi_colour_grey_60: color.scale($mojdi_colour_grey, $alpha: -40%);
$mojdi_colour_grey_40: color.scale($mojdi_colour_grey, $alpha: -60%);
$mojdi_colour_grey_20: color.scale($mojdi_colour_grey, $alpha: -80%);
